@page "/tests"
@*@using Microsoft.AspNetCore.Authorization
  @attribute [Authorize]*@

<h1>Tests</h1>

<p>List of Test Sessions</p>


@if (testSessions == null)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <table class="tests-table">
    <thead>
      <tr>
        <th>Id</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var testSession in testSessions.Results)
      {
        <tr>
          <td>@testSession.Id</td>
        </tr>
      }
    </tbody>
  </table>
}

